<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="icon" type="image/x-icon" href=""> -->
    <title>Sportiek | Dashboard voor zoeken & tonen van beschikbaarheid van de accommodaties </title>
</head>


<body>
    
<!-- 🧠 HEADER (LOGO + LINK TO CLIENT WEBSITE) -->

    <header>
        <img src="/assets/images/sportiek-logo1170.png" alt="Sportiek wintersportreizen"> <!-- img href="back to search form?"-->
        <a href="https://www.sportiek.com/">Sportiek klanten website</a>
    </header>